.emp-tag-input
  display flex
  flex-direction row
  align-items center
  flex-wrap wrap
  overflow hidden
  width: 100%
  padding 2px 0 2px
  background-color transparent
  border-radius 10px !important
  border 2px solid #D2C9CC
  margin 15px 0 15px 0 !important

  &__skill
    background-color rgb(243, 173, 73) !important
    margin 5px 0 5px 5px !important
    padding 10px 10px 10px 10px !important
    border-radius 5px !important

  &__auto-complete
    margin-left 5px
    font-size 18px !important
