.emp-not-found
  width 95%
  margin-right 5%
  height 100%
  box-shadow 0 2px 3px 2px rgba(15, 15, 15, .24)
  background-color #fbfbfb
  position relative

  &__close-button
    position absolute
    flex right
    top 25px
    right 25px

  &__container
    display flex
    padding-top 55px
    padding-right 55px

  &__container-detail
    flex 80
    padding-left 10px
