.emp-date-picker
  background-color rgb(243, 173, 73) !important
  margin 7px 20px 7px 0
  border-radius 5px
  color #fff !important

  input
    color #fff !important
    text-align center

  &__button
    color #fff !important

